bin
pkg/linux_amd64/*.a
pkg/linux_amd64/*/*.a
pkg/linux_amd64/*/*/*.a
pkg/obj/linux_amd64/*.a
pkg/tool/linux_amd64/6a
pkg/tool/linux_amd64/6c
pkg/tool/linux_amd64/6g
pkg/tool/linux_amd64/6l
pkg/tool/linux_amd64/addr2line
pkg/tool/linux_amd64/cgo
pkg/tool/linux_amd64/dist
pkg/tool/linux_amd64/fix
pkg/tool/linux_amd64/nm
pkg/tool/linux_amd64/objdump
pkg/tool/linux_amd64/pack
pkg/tool/linux_amd64/pprof
pkg/tool/linux_amd64/yacc
src/cmd/go/zdefaultcc.go
src/liblink/anames5.c
src/liblink/anames6.c
src/liblink/anames8.c
src/pkg/runtime/zaexperiment.h
src/pkg/runtime/zalg_linux_amd64.c
src/pkg/runtime/zasm_linux_amd64.h
src/pkg/runtime/zchan_linux_amd64.c
src/pkg/runtime/zcomplex_linux_amd64.c
src/pkg/runtime/zcpuprof_linux_amd64.c
src/pkg/runtime/zgoarch_amd64.go
src/pkg/runtime/zgoos_linux.go
src/pkg/runtime/zhashmap_linux_amd64.c
src/pkg/runtime/ziface_linux_amd64.c
src/pkg/runtime/zlfstack_linux_amd64.c
src/pkg/runtime/zmalloc_linux_amd64.c
src/pkg/runtime/zmprof_linux_amd64.c
src/pkg/runtime/znetpoll_linux_amd64.c
src/pkg/runtime/zrdebug_linux_amd64.c
src/pkg/runtime/zruntime_defs_linux_amd64.go
src/pkg/runtime/zruntime1_linux_amd64.c
src/pkg/runtime/zsema_linux_amd64.c
src/pkg/runtime/zsigqueue_linux_amd64.c
src/pkg/runtime/zslice_linux_amd64.c
src/pkg/runtime/zstring_linux_amd64.c
src/pkg/runtime/zsymtab_linux_amd64.c
src/pkg/runtime/zsys_linux_amd64.s
src/pkg/runtime/ztime_linux_amd64.c
src/pkg/runtime/zversion.go
pkg/linux_amd64/cgocall.h
pkg/linux_amd64/runtime.h
src/cmd/gc/opnames.h
src/cmd/cgo/zdefaultcc.go
.vscode/settings.json
